@import '@styles/typo.scss';
@import '@styles/breakpoints.scss';

.MonsterPage {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.contentCard {
  max-width: 720px;
  width: 100%;
  position: relative;
}

.monsterCard {
  position: relative;
  padding: 16px;
  animation: cardAppear .5s ease-in-out forwards;
  opacity: 0;
  transform: translateY(30px);
  background-color: white;
}

.imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  overflow: visible;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.monsterImage {
  z-index: 0;
  position: relative;
  background-color: #121212;
  animation: imageAppear .5s ease-in-out forwards;
  opacity: 0;
  transform: translateY(-30px);

  border-radius: 20%;
  border: 8px solid rgba(255, 180, 0, 1);
  box-shadow: 8px 7px 21px 0px rgba(255, 180, 0, 0.45);

  // pointer-events: none;
  // user-select: none;

  width: 33%;

  @include max-mobile {
    width: 66%;
  }

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.monsterInfo {
  .gap {
    width: 100%;
    &:after {
      content: '';
      display: block;
      padding-bottom: 15%;

      @include max-mobile {
        padding-bottom: 30%;
      }
      
    }
  }
}

.textInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  // user-select: none;
}

.name {
  margin: 0;
  @include text-header(2);
  font-weight: 700;
}

.subheader {
  .rarity, .race {
    text-transform: capitalize;
  }
}

.attributes {
  padding: 16px 32px 0;

  @include max-mobile {
    padding: 16px 0 0;
  }
}

@keyframes imageAppear {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes cardAppear {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}